<div class="col-lg-6 offset-lg-3">
    <div class="card">
        <div class="card-header bg-dark">
          <h2 class="text-light text-center">Authentification</h2>
        </div>
        <div class="card-body">
          <div class="alert alert-danger" *ngIf="mode==1">
              <strong>Bad credentials</strong>
          </div>
          <form (ngSubmit)="onLogin(f)" #f="ngForm">
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text" class="form-control" name="userName" id="username" placeholder="username" ngModel>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password" ngModel>
            </div>
            <button type="submit" class="btn btn-outline-dark ">Enregistrer</button>
            <button type="submit" class="btn btn-outline-primary mx-2">Registrer</button>
          </form>
        </div>
      </div>
</div>
